<div class="container">
<h1>Create a new bookmark!</h1>
<hr>

<%= simple_form_for [@list, @bookmark] do |f| %>
<%= f.input :comment %>
<%= f.association :movie, as: :select %>
<%= f.submit "Add bookmark" %>
<% end %>

<hr>
<p><%= link_to "Back", lists_path %></p>
